.container {
    margin-top: 7vh;
}

.scheduleByDay {
    margin: 2vh 0;
    min-width: auto;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}

.dialogBoxContent {
    display: flex;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

@media (orientation: portrait) {
    .container {
        margin-top: 7vh;
    }

    .icon {
        margin-right: 2vw;
    }

    .scheduleByDay {
        margin: 2vh 0;
        min-width: auto;
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
    }
}

@media (orientation: landscape) {
    .container {
        margin-top: 7vw;
    }

    .icon {
        margin-right: 2vh;
    }

    .scheduleByDay {
        margin: 2vw 0;
        min-width: auto;
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
    }
}