.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.animation {
    margin-top: 10vh;
    text-align: center;
    justify-content: center;
}

.button {
    width: 70vw;
    height: 10vh;
    margin: 8vh 5vw;
    font-size: xx-large;
}

@media (orientation: portrait) {
    .animation {
        margin-top: 10vh;
    }

    .button {
        width: 70vw;
        height: 10vh;
        margin: 8vh 5vw;
    }
}

@media (orientation: landscape) {
    .animation {
        margin-top: 10vw;
    }

    .button {
        width: 70vh;
        height: 10vw;
        margin: 6vw 5vh;
    }
}