.addAlarmButton {
    position: fixed;
    margin: auto;
    left: 50%;
    max-width: 100px;
    max-height: 100px;
    transform: translateX(-50%)
}

.dialogBoxContent {
    display: flex;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

@media (orientation: portrait) {
    .addAlarmButton {
        width: 20vw;
        height: 20vw;
        bottom: 10vh;
    }
}

@media (orientation: landscape) {
    .addAlarmButton {
        width: 20vh;
        height: 20vh;
        bottom: 10vh;
    }
}