.container {
    text-align: center;
    justify-content: center;
}

.timerTypography {
    font-size: 18vw;
}

.timerTypographyType {
    font-size: 6vw;
    margin-right: 2vw;
}

.button {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: lighter;
    border-radius: 2rem;
}

@media (orientation: portrait) {
    .timerTypography {
        font-size: 18vw;
    }

    .timerTypographyType {
        font-size: 6vw;
        margin-right: 2vw;
    }

    .dialerBox {
        margin-top: 5vh;
    }

    .button {
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
    }
}

@media (orientation: landscape) {
    .timerTypography {
        font-size: 16vh;
        margin-top: 12vh;
    }

    .timerTypographyType {
        font-size: 6vh;
        margin-right: 2vh;
    }

    .button {
        width: 2.5rem;
        height: 2rem;
        border-radius: 1.25rem;
    }
}