.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.animation {
    width: 80vw;
    height: auto;
    margin-top: 10vh;
}

.label {
    font-size: x-large;
    padding: 20vw;
}

.button {
    width: 70vw;
    height: 10vh;
    margin: 5vh 5vw;
    font-size: xx-large;
}

@media (orientation: portrait) {
    .animation {
        width: 80vw;
        margin-top: 10vh;
    }

    .label {
        font-size: x-large;
        padding: 20vw;
    }

    .button {
        width: 70vw;
        height: 10vh;
        margin: 5vh 5vw;
    }
}

@media (orientation: landscape) {
    .animation {
        width: 20vh !important;
        margin-top: 0;
    }

    .label {
        font-size: x-large;
        padding: 10vh;
    }

    .button {
        width: 70vh;
        height: 10vw;
        margin: 10vw 5vh;
    }
}