.stopwatchTime {
    font-size: 25vw;
}

.snapshots {
    width: 100vw;
    height: 40vh;
    overflow-y: auto;
}

.snapshotText {
    font-family: monospace;
    word-spacing: 20px;
}

.buttons>Button {
    width: 20vw;
    height: 20vw;
    border-radius: 10vw;
    margin: 2vw;
}


.buttons>Button:nth-child(2) {
    width: 30vw;
    height: 30vw;
    border-radius: 10vw;
    margin: 2vw;
}

@media (orientation: portrait) {
    .stopwatchTime {
        font-size: 25vw;
    }

    .buttons>Button {
        width: 20vw;
        height: 20vw;
        border-radius: 10vw;
        margin: 2vw;
    }

    .buttons>Button:nth-child(2) {
        width: 30vw;
        height: 30vw;
        border-radius: 10vw;
        margin: 2vw;
    }
}

@media (orientation: landscape) {
    .stopwatchTime {
        font-size: 25vh;
    }

    .buttons>Button {
        width: 20vh;
        height: 20vh;
        border-radius: 10vh;
        margin: 0 2vh;
    }

    .buttons>Button:nth-child(2) {
        width: 30vh;
        height: 25vh;
        border-radius: 10vh;
        margin: 0 2vh;
    }
}