.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.clock {
    font-weight: bold;
    color: #000000;
    font-size: 3.8em;
}

.session {
    font-size: 0.3em;
    margin-left: 2%;
    vertical-align: text-top;
}

.date {
    font-weight: bold;
    color: #000000;
    font-size: 2.0em;
}

.timezone {
    font-size: 0.5em !important;
    opacity: 0.8;
}